.BrandText {
  text-decoration: none;
  color: black;
  text-decoration: none;
}

.BrandTextSize {
  font-size: xx-large;
}

.NavLink {
  text-decoration: none;
  color: black;
  padding: 7px;
}

.NavLink.active {
  font-weight: bold;
}
